<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common-head(${pageTitle})"></head>
<body>

<nav th:replace="common :: common-navbar"></nav>

<div class="container my-5">
    <a th:href="@{/clientes}">
        <- Voltar
    </a>
    <h1 th:text="${cliente.id != null} ? (${viewMode} ? 'Detalhes do Cliente' : 'Editar Clientes') : 'Adicionar Clientes'"></h1>
    <form th:action="${cliente.id != null && !viewMode} ? @{/clientes/edit/{id}(id=${cliente.id})} : @{/clientes/add}" th:object="${cliente}" method="post" class="mt-3">
        <!-- Nome Field -->
        <div class="form-group mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" th:field="*{nome}" th:disabled="${viewMode}">
            <small class="form-text text-muted" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</small>
        </div>

        <!-- Contato Field -->
        <div class="form-group mb-3">
            <label for="contato">Contato</label>
            <input type="tel" class="form-control" id="contato" th:field="*{contato}" th:disabled="${viewMode}">
            <small class="form-text text-muted" th:if="${#fields.hasErrors('contato')}" th:errors="*{contato}">Contato Error</small>
        </div>

        <!-- Endereco Field -->
        <div class="form-group mb-3">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="endereco" th:field="*{endereco}" th:disabled="${viewMode}">
            <small class="form-text text-muted" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}">Endereço Error</small>
        </div>

        <div class="d-flex">
            <div th:if="!${viewMode}">
                <button type="submit" th:text="${cliente.id != null} ? 'Atualizar' : 'Adicionar'" class="btn btn-primary"></button>
            </div>
        </div>
    </form>
</div>

<div th:replace="common :: common-bootstrapjs"></div>
</body>
</html>
