<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common-head(${pageTitle})"></head>
<body>
<nav th:replace="common :: common-navbar"></nav>

<div class="container my-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Serviço</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Tempo de duração</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="servico : ${servicos}">
            <th scope="row" th:text="${servico.id}"></th>
            <td th:text="${servico.nome}">Mark</td>
            <td th:text="${servico.descricao}">+558499999999</td>
            <td th:text="${servico.valorCentavos}">999</td>
            <td th:text="${servico.tempoSegundos}">600</td>
            <td class="d-flex justify-content-around">
                <a class="btn btn-info mr-5" th:href="@{/servicos/view/{id}(id=${servico.id})}">Ver detalhes</a>
                <a class="btn btn-warning mr-5" th:href="@{/servicos/edit/{id}(id=${servico.id})}">Editar</a>
                <a class="btn btn-danger" >
                    <form th:action="@{/servicos/delete/{id}(id=${servico.id})}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="common :: common-bootstrapjs"></div>
</body>
</html>
